html,
body {
	overflow-x: hidden;
	width: 100%;
	min-height: 100dvh;
}

html {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;

	&:has(body.no-scroll) {
		overflow-y: hidden;
	}
}

body {
	background-color: var(--color-bg);
	color: var(--color-primary);
	font-family: 'Manrope Regular', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	padding: 20px 0;

	@media (max-width: $size-table) {
		padding: 10px 0 70px;
	}
}

section {
	margin-bottom: 100px;

	@media (max-width: $size-full) {
		margin-bottom: 80px;
	}

	@media (max-width: $size-laptop) {
		margin-bottom: 60px;
	}
}

.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.4;

	@media (max-width: $size-full) {
		font-size: 35px;
	}

	@media (max-width: $size-table) {
		font-size: 30px;
	}
}

.btn {
	height: 52px;
	padding: 0 20px;
	border-radius: 10px;
	background-color: var(--color-primary);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 700;
	transition: all .3s linear;

	@media ( max-width: $size-table) {
		height: 60px;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--color-white);
			opacity: .7;
		}
	}
}

section {
	& .swiper-pagination {
		position: static;
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .swiper-pagination-bullet {
		width: 14px;
		height: 5px;
		background-color: #C1C1C1;
		border-radius: 2px;
		opacity: 1;

		&-active {
			background-color:  #231F20;
		}
	}
}